<!--
<div class="mostrar" *ngFor="let game of games">
    <h3>
        ID
    </h3>
    {{game.id}}
    <br>

    <h3>
        NAME
    </h3>
    {{game.name}}
    <br>
    <h3>
        DESCRIPTION
    </h3>
    {{game.description}}
    <br>
</div>
-->
<br>
<br>
<div class="container row">
    <div class="col s12 m7 l8">
        <ul class="collapsible popout" data-collapsible="accordion" materialize="collapsible">
            <li *ngFor="let game of games">
                <div class="collapsible-header"><i class="material-icons">games</i>
                    <span class="uppercase">{{ game.name }}</span>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <img src="../assets/img/{{ game.name }}.png" alt="game {{ game.id }}" class="responsive-img">
                    </div>
                    <div class="row">
                        <p>{{ game.description }}</p>
                    </div>
                    <!--
                    <div *ngIf="!show" class="row">
                        <a href="/game/{{ game.name }}" class="btn-large waves-effect waves-light btn">Jugar</a>
                    </div>
                    -->
                    <div class="row">
                        <a href="/game/{{ game.name }}" class="btn-large waves-effect waves-light btn">Jugar</a>
                    </div>
                    <div *ngIf="show" class="row center">
                        <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons left">add</i></a>
                    </div>
                </div>
            </li>
        </ul>
        <a *ngIf="show" class="waves-effect waves-light btn" onclick="history.back()">Volver a la biblioteca</a>
    </div>
    <div class="col m5 l4">
        <div class="card blue-grey darken-3">
            <div class="card-content white-text">
                <span class="card-title">Juegos Recomendados
                    </span>
                <span class="card-title">Penguin</span>
                <img src="../assets/img/penguin.png" alt="game img" class="responsive-img">
                <a href="/game/penguin" class="waves-effect waves-light btn">Jugar</a>
            </div>
            <div class="card-content white-text">
                <span class="card-title">Chicken</span>
                <img src="../assets/img/chicken.png" alt="game img" class="responsive-img">
                <a href="/game/chicken" class="waves-effect waves-light btn">Jugar</a>
            </div>
        </div>
    </div>
</div>