<!--
<form>
    <div>
        <input type="text" [(ngModel)]="user.nick" placeholder="nick" name="nick">
    </div>
    <div>
        <input type="text" [(ngModel)]="user.mail" placeholder="mail" name="mail">
    </div>

    <div>
        <input type="text" [(ngModel)]="user.password" placeholder="password" name="password">
    </div>

    <button routerLink="/login">
        Regresar
    </button>
    <button (click)="saveNewUser()">
        Enviar
    </button>
</form>
-->

<div class="container">
    <div class="row center">
        <form class="col s12">
            <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <input name="nick" id="user" type="text" class="validate" [(ngModel)]="user.nick">
                <label for="user">Usuario</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input name="mail" id="email" type="email" class="validate" [(ngModel)]="user.mail">
                <label for="email">E-Mail</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">vpn_key</i>
                <input name="password" id="password" type="password" class="validate" [(ngModel)]="user.password">
                <label for="password">Password</label>
            </div>
            <button href="/login" type="submit" class="btn waves-effect waves-light submit-btn" (click)="saveNewUser()">Registrarse</button>
        </form>
    </div>
</div>