<div id="allPage">
    <div id="pageContent">
        <div id="pageSubContent">
            <div id="logInForm">
                <form>
                    <input type="text" [(ngModel)]="user.nick" placeholder="Ingresar nombre de Usuario" name="nick">
                    <input type="text" [(ngModel)]="user.password" placeholder="Ingresar Contraseña" name="password">
                </form>
            </div>
        </div>
        <div id="bottomMenu">
            <button id="guest" routerLink="/central/any">
                Jugar como invitado
            </button>

            <button id="send" (click)="checkRegister()">
                Ingresar
            </button>

            <button id="registration" routerLink="/register">
                Registrarse
            </button>
        </div>
    </div>
</div>